#wrapper{
    max-width: 900px;
    margin: 0 auto;
}
#wrapper nav{
    display: flex;
    flex-direction: row;
    border-bottom: solid black 1px;
}
#wrapper nav h1{
    margin-right: auto;
}
#wrapper nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}
#wrapper nav ul li{
    background: lightgrey;
    border: solid black 1px;
    align-items: center;
}
#wrapper nav ul li a{
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#wrapper .image-of-the-day img{
    max-width: 100%;
    height: auto;
}
#wrapper .image-of-the-day .rover-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#wrapper .image-gallery{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}
#wrapper .image-gallery header {
    display: flex;
    justify-content: space-between;
}
#wrapper .image-gallery h3{
    text-transform: capitalize;
}
#wrapper .image-gallery .images{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding-top: 20px;
}
#wrapper .image-gallery .images .image-wrapper{
    flex-basis: 162px;
    padding: 0 20px;
}
#wrapper .image-gallery .images .image-wrapper p{
    text-align: right;
}
#wrapper .image-gallery .images img{
    max-width: 100%;
    height: auto;
}
